niyah
niyah_san
niyah_v22
niyah_debug
niyah_pure_engine
niyah_trainer
niyah_v3
niyah_trained.bin
quran_arabic.txt
sovereign_knowledge_data.txt
*.bin
*.o
*.obj
*.zip
*.bak
*.log
UI_CSharp/bin/
UI_CSharp/obj/
sessions/
memory/
my-worker/
Data_Training/sources/train.txt
Data_Training/sources/quran_arabic.txt
niyah_hybrid
test_reasoner
test_csp
test_rules
test_proof
